<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
      <link href="https://twitter.com/gerwitz" rel="me">

      <link href="https://indieauth.com/auth" rel="authorization_endpoint">
      <link href="https://tokens.indieauth.com/token" rel="token_endpoint">

      <link href="http://pub.sitewriter.net/gerwitz.github.io/micropub" rel="micropub"></head>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/gerwitz/sitewriter">sitewriter</a></li>
				</ul>
			</footer>
		</body>
	</html>
